.App {
  padding: 0.5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.block-header {
  font-size: xx-large;
  width: 100%;
  padding: 6px;
  background-color: aqua;
}
.block-header > span {
  font-size: 36px;
  color: purple;
  font-weight: bold;
  padding-left: 1rem;
}
.block-details {
  padding-top: 1rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block-details-item > span {
  color: rgb(98, 0, 255);
}
.t-item {
  color: maroon;
  font-size: 24px;
  border: 2px solid #ccc;
  padding: 5px;
  margin-bottom: 1px;
  border-radius: 10px;
}
.data {
  color: purple;
  font-weight: bold;
}
.t-details {
  font-size: 24px;
}
.t-details > button {
  background-color: #8d66af;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.t-details > button:hover {
  background-color: #562482;
}
